@model  AssignmentBabyClothes.Models.ShoppingCart

@{
    ViewBag.Title = "Index";
    int index = 1;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back To List Of Product", "Index", "Products")
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>
            Name
        </th>
        <th>
            Thumbnail
        </th>
        <th>
            Price
        </th>
        <th>Quantity</th>
        <th>Item Total</th>
        <th></th>

    </tr>

    @foreach (var item in Model.Items.Values)
    {
        <tr>
            <td>@index</td>
            <td>@item.Name</td>
            <td><img src="@item.Thumbnail" style="width: 150px" /> </td>
            <td>@item.Price </td>
            <td> <span>@Html.ActionLink("Remove One", "RemoveOneItem", new { productId = item.ProductId }) |</span> @item.Quantity <span> |@Html.ActionLink("Add One More", "AddToCart", new { productId = item.ProductId, quantity = 1 }, null)</span></td>
            <td>@item.TotalItemPrice</td>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Remove", "RemoveCartItem", new { productId = item.ProductId })
            </td>
        </tr>
        index++;
    }
</table>
<strong>Total Price: @Model.TotalPrice (VND)</strong>
@Html.ActionLink("Clear Cart", "ClearShoppingCart")