@model PagedList.IPagedList<AssignmentBabyClothes.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product List";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.DropDownList("categories", "Select Category")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}
<div id="mainProductList">
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Categories
            </th>
            <th>
                Items
            </th>
            <th>
                Description
            </th>
            <th>
                Price (VND)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="150px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) (VND)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
                    @Html.ActionLink("Add To Cart", "AddToCart",
                        "ShoppingCart", new {productId = item.Id, quantity = 1}, null)
                </td>
            </tr>
        }

    </table>
    <br/>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {page}))

</div>

<div id="divPartialView">
    <!-- something like this in your ASP.NET View -->

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#categories").change(function(event) {
            $.ajax({
                url: "Products/ViewACategory/" + $(this).val(),
                data: { categoryId: $(this).val() /* add other additional parameters */ },
                cache: false,
                type: "POST",
                dataType: "html",

                success: function (data, textStatus, XMLHttpRequest) {
                    $("#divPartialView").html(data); // HTML DOM replace
                    $("#mainProductList").css('display', 'none');
                }
            });
        });
    });
</script>